<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>


  <%= form_tag movies_path, :method => :get, :class => 'index-form' do %>
  <div class="form-group">
    <div class="col-md-4">
    <%= text_field_tag "search", nil, :placeholder => "Search", :class => "form-control" %>
    </div>

    <div class="col-md-4">
      <%= select_tag(:duration, options_for_select([['Any duration', 'any'], ['Under 90 minutes', 'under_niney'], ['Between 90 and 120 minutes', 'mid_length'], ['Over 120 minutes', 'over_120']]), {class: "form-control"}) %>
    </div>

    <div class="col-md-4">
      <%= submit_tag "Search", class: "btn btn-default btn-left-margin" %>
    </div>
  </div>
<% end %>
<hr>
<%= render partial: "movie", collection: @movies %>